
.karusel{
    width: 500px;
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
}
.swip{
   width: 1200px;
   height: 700px;
   /* margin-left: 400px; */
 
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our{
    margin-left: 90px;

}
.kyr{
    width: 800px;
}
.kyr h1{
    font-size: 36px;
    font-weight: 700;
    color: red;
}
.kyr p{
    font-style: italic;
    font-size: 30px;
}
.geo li{
    font-size: 36px;
    font-style: italic;
}