img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

button {
    border: none;
    padding: 12px 30px;

    border-radius: 6px;
}


.user-card {
    width: 600px;
    border-radius: 6px;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    text-align: center;
}